body{
  text-align:center;
  background:#000 url("/src/images/arch-linux-01.png") center center fixed no-repeat;;
  background-size:cover;
}

main{
  width:100%;
  margin:20vmin auto;
}

.terminal{
  position: relative; 
}

.window-title-btn{
  position: relative;
  top:3px;
  padding:6px 10px;
}

.window-red-btn{
  background:#ce0000;
}
.window-red-btn:hover{
  background:#ae0000;
}
.window-red-btn:active{
  background:#930000;
}
.window-default-btn{
  background:#6F6F6F;
}
.window-default-btn:hover{
  background:#666666;
}
.window-default-btn:active{
  background:#5C5C5C;
}

.process-title{
  text-align:right;
  margin:0px auto;
  width:100%;
  height:30px;
  //box-shadow:0px 3px #666666;
  box-shadow:0px 3px #6F6F6F;
  background:#6F6F6F;
  padding:2px;
}

.user-shell{
  color:#0B4700;
  animation-name: shell;
  animation-duration: 1.75s;
  animation-iteration-count:infinite;
}

.shell-blink{
  display: inline;

  -webkit-animation: blink 1.75s ease-out;
  -moz-animation: blink 1.75s ease-out;
  -o-animation: blink 1.75s ease-out;
  nimation: blink 1.75s ease-out;

  animation-iteration-count:infinite;
}
.shell-bg{
  text-align:left;
  border: 2px solid #3D3D3D;
  box-shadow: 0px 3px #666666;
  color:#BCBCBC;
  background-color:#1C1C1C;
  overflow-y:scroll;
  height:50vmin;
  padding: 5px 20px;
}
.shell-content{
  white-space: pre;
  //white-space: pre-line;
}

@keyframes shell{
  0%{
    color:#1EBD00;
    //color:#0B4700;
  }
  50%{
    color:#199E00;
    //color:#0E5900;
  }
  100%{
    color:#1EBD00;
    //color:#0B4700;
  }
}

@keyframes blink{
  0% {
    display: none;
    opacity: 0;
  }

  50% {
    display: block;
    opacity: 0;
  }
  51%{
    display:block;
    opacity:1;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

#toolbar-bg{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  opacity:0.2;
  background:#3C3C3C;
}
.toolbar>.app{
  text-align:center;
  width:100%;
  height:auto;
  padding:16px 0px;
  background:rgba(60, 60, 60, 0.2);
}
.toolbar>.app-active{
  background:#3A3A3A;
  //background:rgba(58,58,58,0.5);
}
.toolbar>.app>img{
  width:48px;
  height:48px;
}
.toolbar>.app:hover{
  background:#434343;
  //background:rgba(67,67,67,0.5);
}
.toolbar>.app:active{
  background:#4C4C4C;
  //background:rgba(76,76,76,0.5);
}
.toolbar-left{
  position: relative;
  text-align:center;
  position:fixed;
  top:0px;
  left:-75px;
  width:80px;
  height:100%;
}
.toolbar-left:hover{
  left:0px;
  transition-duration: 0.2s;
}
@keyframes leftpopout{
  0%  {left:-75px;}
  50% {left:  0px;}
  100%{left:-75px;}
}

.popdev{
  left:-75px;
  animation-name:leftpopout;
  animation-duration:2s;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

